<!DOCTYPE html>
<html>
    <head>
        <title>login_auth</title>
        <style>
           
            .one{
                display: inline-flex;
                /* background-color: red; */  
            }
        </style>
    </head>
    <body>
        <!-- post method hides ,get method shows  -->
        <form action="/form_login" method="post">
            <div>
                <p class="one">Username:</p>
                <input class="one" type="text" name="username">
                <br>
                <p class="one">Password:</p>
                <input type="password" name="pass">
                <br><br>
                <input type="submit" value="login">
            </div>
        </form>
        <h1>{{info}}</h1>
    </body>
</html>