.container {
    display: non;
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.result {
    text-align: center;
    width: 50%;
    margin: 50px auto;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.388);
}

.result p {
    display:inline;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
   
    width: 150px; /* Adjust width as needed */
}

select {
    width: calc(100% - 160px); /* Adjust width to fill remaining space */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
